name: Build
on:
  workflow_dispatch:
  push:
    branches: [master]
    paths: [srcpkgs/**]
permissions:
  contents: write
  packages: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.sha }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/voiders-community/builder:master
      options: --privileged
      env:
        XBPS_TARGET_ARCH: ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, x86_64-musl ]
    steps:
      - name: clone ${{ github.repository }}
        run: |
          git clone https://github.com/${{ github.repository }}.git --shallow-submodules --recursive --depth=2
      - name: bootstraping xbps-src
        run: |
          cd packages
          ./make bootstrap
      - name: build changed templates
        run: |
          cd packages
          for file in $(git diff --name-only ${{ github.event.before }}..${{ github.sha }} | grep "srcpkgs/"); do
            ./make build "$(echo "$file" | cut -d "/" -f2)"
          done
      - name: signing packages
        run: |
          cd packages
          gpg --quiet --batch --yes --decrypt --passphrase="${{ secrets.PRIVATE_PEM_GPG_PASS }}" --output ./private.pem ./private.pem.gpg
          xbps-rindex --privkey private.pem --sign-pkg --signedby "Voiders community" ./hostdir/binpkgs/*
      - name: pushing packages
        run: |
          cd packages
          git config user.email "community@voiders.fake.url"
          git config user.name "Voiders Community"
          git pull --autostash --rebase
          git add ./hostdir/binpkgs/*.xbps*
          git commit -m "[ci] add newly built packages"
          git remote remove origin
          git remote add origin https://builder:${{ secrets.PAT }}@github.com/${{ github.repository }}
          git push --set-upstream origin master
